<h1>Flappy Bird Top 5</h1>
<center><img src ="http://www.pocketgamer.co.uk/artwork/imgthumbs/na-aglp/m0muv77.jpg"></img></center>
<% @posts.each do |post| %>
	<div class="well">

		<p><%= post.flappy_bird %></p>
		
	</div>
<% end %>
