<h1>2 Fuse Top 5</h1>
<center><img src = "https://lh6.ggpht.com/p3OS9qRk7Kuc88umCR5D7EFxm8QHlVUOABn4cLPkLCdCEQ1Ys-npolpOT18LCOD0Dx5s=w300"></img></center>
<% @posts.each do |post| %>
	<div class="well">

		<p><%= post.fuse %></p>
		
	</div>
<% end %>
