<h1>Giant Boulder of Death Top 5</h1>
<center><img src = "http://www.androidrundown.com/wp-content/uploads/2013/09/Giant-Boulder-of-Death-Title.png"></img></center>
<% @posts.each do |post| %>
	<div class="well">

		<p><%= post.gbd %></p>
		
	</div>
<% end %>
