<h1>Iron Pants Top 5</h1>
<center><img src="http://img.giveawaycrew.com/aa/2f/5c/air.e2applets.ironpants-logo.jpg"></img></center>
<% @posts.each do |post| %>
	<div class="well">

		<p><%= post.iron_pants %></p>
		
	</div>
<% end %>
