<h1>Minion Rush Top 5</h1>
<center><img src ="http://cdn.appstorm.net/ipad.appstorm.net/ipad/files/2013/06/Despicable-Me-Minion-Rush_icon.png"></img></center>
<% @posts.each do |post| %>
	<div class="well">

		<p><%= post.minion_rush %></p>
		
	</div>
<% end %>
