<h1>Piano Tiles Top 5</h1>
<center><img src ="http://www.prischew.com/wp-content/uploads/white-tile-games-on-apple-and-android.png"></img></center>
<% @posts.each do |post| %>
	<div class="well">

		<p><%= post.piano_tiles %></p>
		
	</div>
<% end %>
