<h1>2048 Top 5</h1>
<center><img src ="https://lh4.ggpht.com/tnPMNQZ4vyFjflXlb-VaggJ0mw4ncnrYzgOgi2nVPuQEPmANDqH_uGPWc5KqfW77kQ=w300"></img></center>
<% @posts.each do |post| %>
	
	<div class="well">	
		<p><%= post.twenty %></p>
	</div>
<% end %>
